<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a name="top"></a>
            <a href="index.html"><img src="../img/logo.png" alt="logo" height="50px"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="map.html">Попутчики</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="about.html">О проекте</a></li>
                <li><a href="">Связаться</a></li>
                <li ng-controller="profile-controller"><a ng-if="logged" href="" ng-click="logout()">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>