<!DOCTYPE html>
<html ng-app="vdoroge-app">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <link href="../img/ico.ico" rel="shortcut icon">

    <title>вДороге</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../lib/bootstrap/css/bootstrap-datetimepicker.css"/>


</head>
<body>

<div ng-include="'../pages/header.html'"></div>

<div class="container content-body" ng-controller="maps-controller">
    <div class="map-container">


        <div class="map">`
            <google-map
                    center="map.center"
                    zoom="map.zoom"
                    draggable="true"
                    options="map.options">

                <div class="map-info" map-header="">
                    <div class="form-horizontal">
                        <div class="col-xs-2 form-group">
                            <select class="form-control">
                                <option>Пользователь</option>
                            </select>
                        </div>

                        <search-from></search-from>

                        <span class="col-sm-1 glyphicon glyphicon-arrow-right"></span>

                        <search-to></search-to>

                        <div class="col-xs-2">
                            <div class="input-group" id="datetimepicker1" data-date-format="YYYY/MM/DD">
                                <input type='text' ui-date ui-date-format="YYYY/MM/DD"  ng-model="details.dateFrom" class="form-control" placeholder="Дата от"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"
                                                              style="cursor: pointer;"></span></span>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="input-group" id="datetimepicker2" data-date-format="YYYY/MM/DD">
                                <input ui-date ui-date-format="YYYY/MM/DD" type='text' ng-model="details.dateTo" class="form-control" placeholder="Дата до"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"
                                                              style="cursor: pointer;"></span></span>
                            </div>
                        </div>
                        <button class="col-xs-1 btn btn-sm btn-success" type="submit">Готово</button>
                    </div>
                </div>

                <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="m.onClick()">

                </marker>

            </google-map>
            <!--<img src="../img/11.jpg"/>-->
        </div>
    </div>
</div>

<div ng-include="'../pages/footer.html'"></div>


<script src="../lib/jquery/jquery-2.0.1.min.js"></script>
<script src="../lib/jquery-ui/jquery-ui.min.js"></script>
<script src="../lib/jquery/jquery.cookie.js"></script>
<script src="../lib/lodash.compat.min.js"></script>


<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/moment.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/bootstrap-datetimepicker.js"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>

<script src="../lib/angularjs/angular.js"></script>
<script src="../lib/angularjs/angular-resource.min.js"></script>
<script src="../lib/angular-ui/angular-ui.min.js"></script>
<script src="../lib/angular-ui/ui-bootstrap-tpls-0.11.0.min.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script src="../lib/angular-google-maps.js"></script>

<script src="../js/controller/map-front.js"></script>
<script src="../js/main.js"></script>


</body>
</html>