<!DOCTYPE html>
<html ng-app="vdoroge-app">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <link href="../img/ico.ico" rel="shortcut icon">

    <title>вДороге</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../lib/bootstrap/css/bootstrap-datetimepicker.css"/>


</head>
<body ng-controller="main">

<div ng-include="'../pages/header.html'"></div>

<div class="container content-body" ng-controller="maps-controller">
    <div class="map-container">


        <div class="map">`
            <google-map
                    center="map.center"
                    zoom="map.zoom"
                    draggable="true"
                    options="map.options">

                <div class="map-info" map-header="">
                    <div class="form-horizontal">
                        <div class="col-xs-2 form-group">
                            <select class="form-control">
                                <option value="1">Пассажир</option>
                                <option value="2">Водитель</option>
                            </select>
                        </div>

                        <search-from></search-from>

                        <span class="col-sm-1 glyphicon glyphicon-arrow-right"></span>

                        <search-to></search-to>

                        <div class="col-xs-2">
                            <div class="input-group" id="datetimepicker1" data-date-format="YYYY/MM/DD">
                                <input type='text' ui-date ui-date-format="YYYY/MM/DD"  ng-model="formData.dateFrom" class="form-control" placeholder="Дата от"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"
                                                              style="cursor: pointer;"></span></span>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="input-group" id="datetimepicker2" data-date-format="YYYY/MM/DD">
                                <input ui-date ui-date-format="YYYY/MM/DD" type='text' ng-model="formData.dateTo" class="form-control" placeholder="Дата до"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"
                                                              style="cursor: pointer;"></span></span>
                            </div>
                        </div>
                        <button class="col-xs-1 btn btn-sm btn-success" type="submit" ng-click="search()">Готово</button>
                    </div>
                </div>

                <marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" click="showTripDetails(m)">

                </marker>

            </google-map>
            <!--<img src="../img/11.jpg"/>-->
        </div>
    </div>
</div>

<div ng-include="'../pages/footer.html'"></div>

<div id="selected-trip" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>О Поездке</h3>
            </div>
            <form name="form" novalidate>
                <div class="modal-body">
                    <div class="control-group clearfix">
                        <label>Название</label>
                        <div><p ng-bind="selectedTrip.name"></p></div>
                    </div>
                    <div class="control-group clearfix">
                        <label>Описание</label>
                        <div><p ng-bind="selectedTrip.description"></p></div>
                    </div>
                    <div class="control-group clearfix">
                        <label>Свободно мест</label>
                        <div><p ng-bind="selectedTrip.free"></p></div>
                    </div>
                    <div class="control-group clearfix">
                        <label>Начало поездки</label>
                        <div><p ng-bind="selectedTrip.startDate | date"></p></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn">Ок</a>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div>

<script src="../lib/jquery/jquery-2.0.1.min.js"></script>
<script src="../lib/jquery-ui/jquery-ui.min.js"></script>
<script src="../lib/jquery/jquery.cookie.js"></script>
<script src="../lib/lodash.compat.min.js"></script>


<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/moment.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/bootstrap-datetimepicker.js"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>

<script src="../lib/angularjs/angular.js"></script>
<script src="../lib/angularjs/angular-resource.min.js"></script>
<script src="../lib/angular-ui/angular-ui.min.js"></script>
<script src="../lib/angular-ui/ui-bootstrap-tpls-0.11.0.min.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script src="../lib/angular-google-maps.js"></script>

<script src="../js/validators.js"></script>
<script src="../js/service/taxi-back.js"></script>
<script src="../js/service/trips-back.js"></script>
<script src="../js/service/request-interceptor.js"></script>
<script src="../js/controller/map-front.js"></script>
<script src="../js/main.js"></script>


</body>
</html>