.taxi-list {
    width: 100%;
}

.taxi-list-item {
    display: table
}

.taxi-list-item .taxi-info {
    display: table-cell;
    width: 100%;
}

.taxi-list-item .info-button-holder {
    display: table-cell;
    width: 24%;
}

.taxi-list-item .info-button-holder>a{
    display: run-in;
    margin-bottom: 5px;
}

.raiting {
    float: right;
}

.control-group>label{
    display: inline-block;
    width: 150px;
}

.control-group>input{
    display: inline-block;;
    width: 300px;
}

.center-form{
    width:500px;
    position:relative;
    /*left:50%;
    margin-left:-250px;*/
    margin: 0 auto;
}
.center-logo{
    display:block;
    margin:10px auto;
}
.center-form {
    margin-bottom: 25px;
}
.center-form .half-col{
    width:48%;
    float:left;
    margin-right: 0;
    padding-right: 2%;
}
.center-form .half-col~.half-col{
    float:right;
    margin: 0 -30px 0 0;
    padding-right: 30px;
    padding-left: 2%;
}

.main-info-block{
    height: 120px;
}

.center-frame{
    width:229px;
    margin:0 auto;
}

.nav-logo{
    background: url(../img/logo.png) center 0 no-repeat;
}

/* Map container */
.map-controller {
    min-height: 100%;
    position: relative;
    height: 400px;
}
.google-map,
.angular-google-map{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
}
.angular-google-map-container {
    width: 100%;
    height: 100%;
}
.angular-google-map .angular-google-map-autocomplete {
    padding: 0.35714em 0.5em; /* 5px and 7px of 14px */
    min-width: 15em; /* 210px of 14px*/
}