Chorus: New Instrument Available
Hello, ${user}!

Please be informed that you were selected as an operator of ${instrument} instrument. It means you are now able to upload the RAW data files with it.

Thank you!

Sincerely,
Chorus Project Team.